<section class="section about"><img class="about__avatar" src="/public/images/mikhail-sirotenko.jpg"/>
    <div class="about__info">
      <h1 class="title about__name">Mikhail Sirotenko</h1>
      <p class="text">Ph.D., Intelligent Data Processing Group Leader at Samsung R&D Institute Russia. </p>
      <p class="text">Mikhail Sirotenko was born in 1984 at Azov, Russia. At 2000 he become a student of Taganrog State University of Radioengineering, Faculty of Automatics and Computer Technics. All 5 years Mikhail combined his study with work. From 2000 to 2001 he worked as a programmer at "Berkut traiding" company. </p>
    </div>
</section>