<section class="section contacts">
    <h2 class="title section__title section__title--contacts">Contacts</h2>
    <div class="section__body">
        <a class="contact" href="mailto:{{site.email}}" target="_blank">
            <img class="social contact__icon" src="/public/images/social/email.svg"/>
            <p class="text contact__caption">{{site.email}}</p>
        </a>
        <!-- <a class="contact" href="https://github.com/{{ site.github }}" target="_blank">
            <img class="social contact__icon" src="/public/images/social/github.svg"/>
            <p class="text contact__caption">{{ site.github }}</p>
        </a> -->
        <a class="contact" href="skype:{{ site.skype }}?chat" target="_blank">
            <img class="social contact__icon" src="/public/images/social/skype.svg"/>
            <p class="text contact__caption">{{ site.skype }}</p>
        </a>
        <a class="contact" href="https://linkedin.com/{{ site.linkedin }}/" target="_blank">
            <img class="social contact__icon" src="/public/images/social/linkedin.svg"/>
            <p class="text contact__caption">{{ site.linkedin }}</p>
        </a>
    </div>
</section>