<footer class="section section__footer footer">
    <p class="text footer__text">{{site.copyright}}</p>
    <div class="footer__socials">
        <a href="mailto:{{site.email}}" target="_blank">
            <img class="social footer__social" src="/public/images/social/white-email.svg"/>
        </a>
        <!-- <a href="https://github.com/{{site.github}}/" target="_blank">
            <img class="social footer__social" src="/public/images/social/white-github.svg"/>
        </a> -->
        <a href="skype:{{site.skype}}?chat" target="_blank">
            <img class="social footer__social" src="/public/images/social/white-skype.svg"/>
        </a>
        <a href="https://linkedin.com/in/{{site.linkedin}}/" target="_blank">
            <img class="social footer__social" src="/public/images/social/white-linkedin.svg"/>
        </a>
    </div>
</footer>