<nav class="nav jsNav">
    <a href="/" class="nav__logo">Mikhail Sirotenko</a>
    <span class="nav__overlay jsMenu"></span>
    <div class="hamburger nav__hamburger jsMenu">
      <span class="hamburger__inner"></span>
      <span class="hamburger__inner"></span>
      <span class="hamburger__inner"></span>
    </div>
    <div class="nav__links">
        <a class="link nav__link" href="/">Home</a>
        <a class="link nav__link" href="/projects">Projects</a>
        <a class="link nav__link" href="/publications">Publications</a>
        <a class="link nav__link" href="/blog">Blog</a>
        <a class="link nav__link" href="/contacts">Contacts</a>
    </div>
</nav>