<section class="section projects">
    <h2 class="title section__title section__title--projects">Projects</h2>
    <div class="section__body projects__body">
        {% for post in site.categories.projects limit:include.limit %}
            <a class="project projects__item" href="{{ post.url }}">
                <div class="project__title">{{ post.title }}</div>
                <div class="project__background" style="background-image: url({{ post.image }})"></div>
            </a>
        {% endfor %}
    </div>
    {% if (include.limit) %}
        <div class="section__footer">
            <a class="button" href="/projects">Explore</a>
        </div>
    {% endif %}
</section>