<section class="section publications">
    <!-- <h2 class="title section__title section__title--publications">Publications</h2> -->
    <div class="section__body publications__wrap">
        {% if include.limit %}
            {% assign categories = 1 %}
            <h2 class="title section__title section__title--projects">Publications</h2>
        {% endif %}

        {% for publications in site.data.publications limit:categories %}
            {% unless include.limit %}
                <h3 class="title">{{ publications.title }}</h3>
            {% endunless %}
            {% for publication in publications.publications limit:include.limit %}
                <a class="publication" href="{{ publication.link }}" target="_blank">
                    <p class="text publication__author">{{ publication.authors }}</p>
                    <h3 class="publication__title"> {{ publication.title }}</h3>
                    <p class="text publication__excerpt">{{ publication.caption }}</p>
                    <p class="link publication__link">read more</p>
                </a>
            {% endfor %}

            {% unless include.limit %}
                <br><br><br>
            {% endunless %}
        {% endfor %}
    </div>

    {% if (include.limit) %}
        <div class="section__footer">
        <a class="button" href="/publications">Read All</a>
        </div>
    {% endif %}
</section>