.about {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include phablet {
      flex-direction: column;
    }
    
    &__avatar {
      min-width: 20rem;
      border-radius: 4px;
      width: 20rem;
      height: 20rem;
      display: block;
      background: #ccc;
      margin-right: 4rem;

      @include phablet {
        width: 100%;
        height: auto;
        max-width: 420px;
        margin: 0 auto 2rem;
      }
    }
    
    &__name {
      margin-bottom: 0;
      display: inline;

      @include phablet {
        display: inline-block;
        margin-bottom: 1rem;
      }
      
      &::before {
        left: auto;
        right: 0;
        transform: translate(140%, 0%);
      }
    }
  }