.content {
    p {
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    img, iframe {
        display: block;
        margin: 2rem auto;

        @include phablet {
            width: 100%;
        }
    }

    h1, h2, h3, h4, h5 {
        font-weight: 400;
        margin-bottom: 1rem;
    }

    h1 {
        @include phablet {
            font-size: 2rem;
        }
    }

    h2 {
        @include phablet {
            font-size: 1.8rem;
        }
    }

    h3 {
        @include phablet {
            font-size: 1.7rem;
        }
    }

    h4 {
        @include phablet {
            font-size: 1.6rem;
        }
    }

    h5 {
        @include phablet {
            font-size: 1.5rem;
        }
    }

    p, li {
        @include phablet {
            font-size: 1.4rem;
        }
    }

    ul, ol {
        margin-bottom: 2rem;
        margin-left: 0;
        padding: 0;

        li {
            margin-bottom: 1rem;
            margin-left: 3rem;

            &::before {
                content: '';
                display: block;
                position: absolute;
                background-color: $c-blue;
                top: 50%;
                left: 0;
                width: 10px;
                height: 1px;
                transform: translate(-170%, 50%);
              }
        }
    }
}