.hamburger {
    $p: &;
    width: 38px;
    height: 26px;
    position: relative;
    cursor: pointer;
    
    &__inner {
      content: '';
      width: 100%;
      height: 4px;
      background: $c-blue;
      position: absolute;
      top: auto;
      left: 0;
      border-radius: 2px;
      transition: opacity .3s ease, transform .3s ease, top .3s ease, bottom .3s ease;
    }
    
    &__inner {
      &:nth-of-type(1) {
        top: 0;
      
        #{$p}--open & {
          top: calc(50% - 2px);
          transform: rotate(45deg);
        }
      }
      
      &:nth-of-type(2) {
        top: calc(50% - 2px);
      
        #{$p}--open & {
          opacity: 0;
          transition: none;
        }
      }
      
      &:nth-of-type(3) {
        bottom: 0;
      
        #{$p}--open & {
          bottom: calc(50% - 2px);
          transform: rotate(-45deg);
        }
      }
    }
  }