.project {
    max-width: 30rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($c-black, .5);
      z-index: 0;
    }
    
    &:hover {
      box-shadow: 0px 0px 2px 0px rgba($c-black, 1);
    }
    
    &__title {
      color: $c-white;
      text-shadow: 0 0 5px rgba($c-black, 1);
      position: relative;
      z-index: 10;
      line-height: 1.4;
    }
    
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ccc;
      z-index: 0;
      background-size: cover;
      background-position: center;
    }
  }