.projects {
    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 3rem -1rem;
      flex-wrap: wrap;

      @include phablet {
        margin: 1rem -.5rem;
      }
    }
    
    &__item {
      margin: 0 1rem 2rem;
      flex: 1 0 25%;

      @include phablet {
        margin: 0 .5rem 1rem;
      }
    }
  }