.publication {
    margin-bottom: 3rem;
    display: block;
    
    &:hover &__excerpt { opacity: 1 }
    &:hover &__title { color: $c-red }
    
    &__author {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      line-height: 1;
      color: $c-black;
      opacity: .5;

      @include phablet {
        font-size: 1.4rem;
      }
    }
    
    &__title {
      font-size: 2rem;
      margin-bottom: .3rem;
      margin-top: 0;
      font-weight: 500;
      line-height: 1;
      color: $c-blue;

      @include phablet {
        font-size: 1.8rem;
        margin-bottom: .5rem;
      }
    }
    
    &__excerpt {
      margin-bottom: 0;
      line-height: 1;
      color: $c-black;
      opacity: .5;

      @include phablet {
        font-size: 1.4rem;
      }
    }
    
    &__link {
      margin: .5rem 0 0 0;
      font-weight: 300;
    }
  }
  