.section {
    padding: 3rem 20%;
    box-sizing: border-box;

    @include fullhd {
      padding: 3rem 25vw;
    }

    @include desktop {
      padding: 3rem 15vw;
    }

    @include laptop {
      padding: 3rem 5vw;
    }

    @include tablet {
      padding: 2rem 5vw;
    }

    @include phablet {
      padding: 2rem 2rem;
    }

    &__post {
      margin-bottom: 4rem;

      @include phablet {
        margin-bottom: 2rem;
      }
    }
    
    &__title {
      position: relative;
      
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10rem;
        height: 13rem;
        opacity: .03;
        z-index: 0;
        transform: translate(-105%, -25%);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      
      &--projects::after {
        background-image: url('https://rensite.ru/files/science/titles/projects.svg');
      }
        
      &--blog::after {
        background-image: url('https://rensite.ru/files/science/titles/blog.svg');
      }
        
      &--publications::after {
        background-image: url('https://rensite.ru/files/science/titles/publications.svg');
      }
            
      &--contacts::after {
        background-image: url('https://rensite.ru/files/science/titles/contacts.svg');
      }  
      
    }
    
    &__body {
      margin: 3rem 0;

      @include phablet {
        margin: 1rem 0;
      }
    }
    
    &__footer {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
    }
  }